<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blood_splash_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,82},{85,71}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,76},{85,71}}</string>
                <key>sourceSize</key>
                <string>{225,197}</string>
            </dict>
            <key>blood_splash_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,841},{149,103}}</string>
                <key>offset</key>
                <string>{35,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,51},{149,103}}</string>
                <key>sourceSize</key>
                <string>{225,197}</string>
            </dict>
            <key>blood_splash_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,786},{101,93}}</string>
                <key>offset</key>
                <string>{61,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,38},{101,93}}</string>
                <key>sourceSize</key>
                <string>{225,197}</string>
            </dict>
            <key>boom_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,634},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>boom_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,727},{150,112}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{150,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>boom_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,841},{148,100}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,43},{148,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>boom_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,440},{142,96}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{142,96}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>boom_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,756},{94,116}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,12},{94,116}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>boom_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,538},{116,94}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,50},{116,94}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>coin_gather_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,144},{120,106}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,29},{120,106}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>coin_gather_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,382},{126,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{126,148}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>coin_gather_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{158,164}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>fog_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{78,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,51}}</string>
                <key>sourceSize</key>
                <string>{78,51}</string>
            </dict>
            <key>fog_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,252},{186,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,118}}</string>
                <key>sourceSize</key>
                <string>{186,118}</string>
            </dict>
            <key>fog_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,169},{211,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,129}}</string>
                <key>sourceSize</key>
                <string>{211,129}</string>
            </dict>
            <key>fog_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,532},{222,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,137}}</string>
                <key>sourceSize</key>
                <string>{222,137}</string>
            </dict>
            <key>fog_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{225,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,139}}</string>
                <key>sourceSize</key>
                <string>{225,139}</string>
            </dict>
            <key>fog_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{226,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,139}}</string>
                <key>sourceSize</key>
                <string>{226,139}</string>
            </dict>
            <key>fog_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{227,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,139}}</string>
                <key>sourceSize</key>
                <string>{227,139}</string>
            </dict>
            <key>hit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{362,46}}</string>
                <key>offset</key>
                <string>{-119,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{362,46}}</string>
                <key>sourceSize</key>
                <string>{600,108}</string>
            </dict>
            <key>hit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{438,46}}</string>
                <key>offset</key>
                <string>{-81,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{438,46}}</string>
                <key>sourceSize</key>
                <string>{600,108}</string>
            </dict>
            <key>hit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{434,44}}</string>
                <key>offset</key>
                <string>{-34,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,27},{434,44}}</string>
                <key>sourceSize</key>
                <string>{600,108}</string>
            </dict>
            <key>hit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,96},{340,10}}</string>
                <key>offset</key>
                <string>{63,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,49},{340,10}}</string>
                <key>sourceSize</key>
                <string>{600,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fx_atlas.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48683d0484880b7c2776eb4044d9620d:b9113d6bb24476d29bebf0fed29d46ed:f76cb0cf7274b40e7404b100db4c054c$</string>
            <key>textureFileName</key>
            <string>fx_atlas.png</string>
        </dict>
    </dict>
</plist>
